.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.level-left {
    display: flex;
    align-items: center;
}

.level-item {
    font-family: 'Roboto', Arial, sans-serif; /* Changed the font-family to Roboto */
    font-size: 18px; /* Increased the font size from 18px to 20px */
    color: #2d3436; /* Changed the color to a slightly darker shade */
    margin-bottom: 2px;
    padding-right: 4px;
    letter-spacing: 1px; /* Added letter-spacing for a more distinct appearance */
}

.level-item h1 {
    font-family: 'Courier New', Courier, monospace; /* Changed the font-family to a monospace font */
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    transition: color 0.3s; /* Added a transition for a smooth color change on hover */
}
/* Style the CSS tooltip */
.level-item h1:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 10px);
    left: calc(50% + 10px);
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 4px 8px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}

/* Hide the default tooltip */
.level-item h1:hover {
    color: #0984e3;
    text-decoration: none;
    cursor: pointer;
}


.input {
    font-family: 'Courier New', Courier, monospace; /* Changed the font-family to a monospace font */
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bolder;
    color: green;
}

/* Styling for input fields on smaller screens */
@media screen and (max-width: 768px) {
    .input {
        max-width: 100%;
    }
}

/* Styling for input fields on larger screens */
@media screen and (min-width: 1024px) {
    .input {
        width: 500px;; /* Updated from "width" to "max-width" */
        max-width: 100%;
    }
}
