body {
    background-image: url("final.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.title {
    font-family: 'Courier New', Courier, monospace; /* Changed the font-family to a monospace font */
}

.content {
    font-family: 'Courier New', Courier, monospace; /* Changed the font-family to a monospace font */

}
